extends layout

block content
  h1= title
  p Application IOT to get unified the industrial protocols as PROFINET OPC-UA Y MQTT.

  p The objetive of this platform is join the data obtained from sensor binding on Data Adquisitors on network.
